*{
    font-family: 'Suwannaphum', serif;
    font-size: 30px;
}
.container{
    display: flex;
    /* background-color: lightblue; */
    justify-content: space-between;
}
.menu{
    display: flex;
    /* background-color: aqua; */
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
li{
    list-style-type: none;
}
.logo{
    width: 80px;
}
h2{
    text-align: center;
    background-color: whitesmoke;
    padding: 20px;
    margin-top: -10px;
}
.text-gray{
    color: rgb(98, 92, 92);
}
main{
    margin: 20px;
}
.preview {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.preview .item {
    flex: 1;
    margin: 10px;
    width: 300px;
}
.item img{
    width: 100%;
}
.text-center{
    text-align: center;
}
.text-darkblue{
    color: darkblue;
}

.certification {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  .certificate-item {
    max-width: 450px;
    margin: 10px;
  }
  .certificate-item:hover {
    background-color: whitesmoke;
    transition: 0.5s ease linear;
  }
  .certificate-item p {
    font-size: 20px;
    text-align: center;
    font-family: "KantumruyPro-ThinItalic";
  }
  .certificate-item h1 {
    text-align: center;
  }
  .certificate-item i {
    text-align: center;
    display: block;
  }
  i{
    color: purple;
  }
  .mt-5{
    margin-top: 30px;
  }
  .movies{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .movie-item iframe{
    width: 700px;
    height: 400px;
  }