/* flexbox */
.container{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100vh;
}
.item{
    width: 300px;
    height: 300px;
    background-color: lightcoral;
}