body{
    background-color: whitesmoke;
}
.item{
    width: 400px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}
.item img{
    width: 100%;
}
.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.card-title{
    font-size: 30px;
}
.text-warning{
    color: gold;
}
.m-0{
    margin: 15px;
}
.pl-2{
    padding: 10px 0px 0px 20px;
    padding-left: 20px;
    padding-top: 10px;
}
.pr-2{
    padding: 10px 20px 0px 0px;
}
.text-gray{
    color: rgb(162, 152, 152);
}
.course-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

/* position css property */
.position-container{
    width: 60vw;
    height: 200vh;
    background-color: lightblue;
    /* position: relative; */
    
}
.box{
    width: 200px;
    height: 200px;
}
.a{
    background-color: purple;
    position: relative;
    /* left: 200px; */
    right: 100px;
    
}
.b{
    background-color: gold;
    position: absolute;
    right: 0px;
    top: 0;
}
.c{
    background-color: coral;
    position: fixed;
    top: 200px;
    left: 400px;
    width: 300px;
    background-image: url('https://ads.golpages-cambodia.com/www/images/f7e074a08f5718959fe4dafaf59aac51.jpg');
}
header{
    position: sticky;
    top: 0;
    background-color: lightcoral;
    z-index: 1;
}