
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Suwannaphum:wght@100;300;400;700;900&display=swap');

/* universal selector | less priority selector */
*{
    background-color: lightblue;
    /* web safe fonts */
    font-family: "Poppins", "Suwannaphum", sans-serif;
}
/* type selector | elementname selector */
header{
    background-color: purple;
    color: #FFFFFF;
}
h2{
    font-size: 200px !important;
}

/* class selector */
.text-center{
    text-align: center;
}
.font-60{
    font-size: 60px;
}
/* attribute selector */
h2[title="welcome"]{
    font-size: 120px;
}
/* ID Selector */
#demo{
    font-size: 20px;
}

