table, td, th{
    border-collapse: collapse;
}
table{
    border: 1px dotted lightblue;
    width: 80vw;
    margin: auto;
}
thead{
    background-color: rgb(19, 184, 19);
    color: #fff;
    height: 2rem; /* 1rem = 16px */
}
/* pseudo element */
tr:nth-child(even){
    background-color: rgb(240, 233, 233);
}
tr:hover{
    background-color: plum;
}
img{
    width: 100px;
}
td{
   height: 100px; 
   text-align: center;
}